@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 332 100% 95%;
  --foreground: 332 5% 0%;
  --card: 332 50% 90%;
  --card-foreground: 332 5% 10%;
  --popover: 332 100% 95%;
  --popover-foreground: 332 100% 0%;
  --primary: 332 94.1% 20%;
  --primary-foreground: 0 0% 100%;
  --secondary: 332 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 294 30% 85%;
  --muted-foreground: 332 5% 35%;
  --accent: 294 30% 80%;
  --accent-foreground: 332 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 332 5% 90%;
  --border: 332 30% 50%;
  --input: 332 30% 18%;
  --ring: 332 94.1% 20%;
  --radius: 0.5rem;
}
.dark {
  --background: 332 50% 5%;
  --foreground: 332 5% 90%;
  --card: 332 50% 0%;
  --card-foreground: 332 5% 90%;
  --popover: 332 50% 5%;
  --popover-foreground: 332 5% 90%;
  --primary: 332 94.1% 20%;
  --primary-foreground: 0 0% 100%;
  --secondary: 332 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 294 30% 15%;
  --muted-foreground: 332 5% 60%;
  --accent: 294 30% 15%;
  --accent-foreground: 332 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 332 5% 90%;
  --border: 332 30% 18%;
  --input: 332 30% 18%;
  --ring: 332 94.1% 20%;
  --radius: 0.5rem;
}
