@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 324 80% 29%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 300 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 300 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 324 80% 29%;
    --primary-foreground: 0 0% 98%;

    --secondary: 330 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 320 5% 22%;
    --muted-foreground: 325 5% 49%;

    --accent: 324 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 320 5% 12%;
    --input: 330 4% 18%;
    --ring: 324 79% 40%;
  }
}
